<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="et3rnos,mcdulltii">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("Og", required: false)
    <link rel="icon" href="~/img/icon.svg" type="image/svg" sizes="any">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    @if(Context.Request.Cookies["theme"] == "light")
    {
        <link rel="stylesheet" href="~/css/light.css" asp-append-version="true">
    }
    else
    {
        <link rel="stylesheet" href="~/css/dark.css" asp-append-version="true">
    }
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md p-0">
        <a href="/" class="navbar-brand me-0">
            <img src="/img/cover.svg?goawaycache" height="70" alt="Fdownl" />
        </a>
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end px-4" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link fw-bold me-4" href="/">Upload</a>
                <a class="nav-item nav-link fw-bold me-4" href="/About">About</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Created by et3rnos & mcdulltii</span>
            @{
				var tips = new string[]
				{
					"You can append ?code=COUPON to the URL to auto fill the form's coupon field",
					"Encrypting your files will zip them with the password you chose",
                    "Save files in history to quickly access them on other devices"
				};
			}
			@if (tips.Any())
			{
				<span class="text-muted float-end d-none d-lg-block">Tip: @(tips[(new Random()).Next(tips.Count())])</span>
			}
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/eeaba7a5c6.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
